@model CST_323_CLC.Models.PetModel

    @{
    ViewData["Title"] = "UpdatePet";
}

<div class="stacked-btns">

    <h1 class="register-header">Update Dog</h1>

    <div class="pet-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Species)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Breed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdoptionStatus)
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.Species)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.Breed)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                        <td>
                        @Html.DisplayFor(model => model.AdoptionStatus)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="register-wrapper">

        <form method="post" id="updatePet" action="@Url.Action("UpdatePet", "Pet")">

            <input type="hidden" name="Id" value="@Model.Id"/>

            <div class="input-box">
                <input type="text" asp-for="Name" placeholder="Name" required/>
            </div>

            <div class="input-box">
                <input type="text" asp-for="Species" placeholder="Species" required />
            </div>

            <div class="input-box">
                <input type="text" asp-for="Breed" placeholder="Breed" required />
            </div>

            <div class="input-box">
                <input type="text" asp-for="Description" placeholder="Description" required />
            </div>

            <div class="input-box">
                <input type="number" asp-for="Price" placeholder="Price" required />
            </div>

            <div class="remember-forgot">
                <label>Is Adopted? <input type="checkbox" asp-for="AdoptionStatus" /></label>
            </div>

            <div class="stacked-btns">
                <button type="submit" class="stacked-button btn-text btn text-black">Update</button>
            </div>
        </form>

        
    </div>
</div>